.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table-header, .table-body {
    display: flex;
    background-color: #f2f2f2;
  }
  
  .table div {
    padding: 10px;
    border: 1px solid #ddd;
    flex: 1;
    text-align: left;
  }
  
  .table-header div {
    font-weight: bold;
  }
  
  .table-row:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
  
  .selected {
    background-color: #c1c1c1;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  