/* 
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .landing-page {
    text-align: center;
    padding: 20px;
  }
  
  header {
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    font-size: 2em;
  }
  
  header p {
    font-size: 1.2em;
  }
  
  .section {
    margin: 40px 0;
  }
  
  section h2 {
    font-size: 1.5em;
  }
  
  footer {
    background-color: #34495e;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
   */