.header {
    background-color: #171A1FFF;
    display: block;
    color: white;
}

.header .top-bar {
    height: 4rem;
    justify-content: flex-end;
    padding: 1rem 2rem;
    font-size: 2rem;
}

.header .top-bar>div {
    padding: 0 0.7rem;
    line-height: 2rem;
    position: relative;
}

.header .Logo {
    width: 5rem;
    height: auto;
}

.header .grid div {
    font-size: 1.5rem;
}

.header .grid-cols-9 {
    padding: 0rem 1rem;
}

.login {
    text-align: center;
}

.header form {
    border-radius: 2rem;
}

.search-div {
    margin-right: -4rem
}

.dropdown-name {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content{display: block;}
.dropdown-item:hover .dropdown-name {
    display: block;
    position: absolute;
    font-size: 1rem;
    left: 38px;
    top: -27px;
    background: #000;
    padding: 0px 15px;
    border-radius: 5px;
}
.pointer{
    cursor: pointer;
}