/* .users-dashboard{
    margin: 10px;
}
.user-card{ 
    display: flex;
    padding: 5px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;

} */
/* .head{
    display: flex;
align-items: center;
border: 1px black solid;
}
.Table-row{
display:flex;
align-items: center;
border: 1px black solid;
}
.tableRow{
    padding: 20px;
}
.tableHead{
    padding: 20px;
} */
/* 
.dashboard{
    display: flex;
    margin: 0;
    width: 100%;
    height: auto;
    padding: 20px 30px;
    background: #282c34;
    min-height: 400px;
    color: white;
    font-size: 1rem;
} */