/* .product-catalog {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .product-item {
    width: 300px;
    margin: 10px;
    padding: 1 px;
    border: 1px solid #ccc;
    border-radius: 7 px;
    text-align: center;
  }
  .product-heading,.product-tags, .product-description, .product-price {
    margin: 0;
  }
  
  .product-item img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  .product-tags{
    display: flex;
    font-weight: lighter;
    justify-content: center;
    align-content: center;
    font-size: medium;
  }
  button:hover {
    background-color: #0056b3;
  }
   */